<div class="component">
    <div class="header">
        <label class="title">News API</label>
        <label class="subtitle">Use filters to get articles</label>
    </div>
    <div class="form">
        <Dropdown OnChange="@HandleOnChange" Options="@options"></Dropdown>
    </div>
</div>


@code {
    private List<DropdownOption> options = new List<DropdownOption> {
        new DropdownOption { id = 1, label = "Option 1" },
        new DropdownOption { id = 2, label = "Option 2" }
    };

    public void HandleOnChange(ICollection<DropdownOption> ops)
    {
        Console.WriteLine($"option selected {ops.FirstOrDefault().label}");
    }
}

