@inject NewsState NewsState
@page "/"

<div class="component">
    @if (NewsState?.Articles?.Count > 0)
    {
        @foreach (var article in NewsState.Articles)
        {
            <Post Item=@article></Post>
        }
    }
    else
    {
        <div class="loader"><Loader /></div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        NewsState.OnChangeArticles += StateHasChanged;
    }

    public void Dispose()
    {
        NewsState.OnChangeArticles -= StateHasChanged;
    }
}