@inject HttpClient Http
@using Client.Contract
@page "/"

<div class="component">
    @if (Articles.Count > 0)
    {
        @foreach (var article in Articles)
        {
            <Post Item=@article></Post>
        }
    }
    else 
    {
        <div class="loader"><Loader /></div>
    } 
</div>


@code {
    List<Article> Articles { get; set; } = new List<Article>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<ApiResponse<Article>>("https://newsapi.org/v2/everything?q=*&pageSize=10&apiKey=738b6f5d0abb4544a09ffd6fffd5a8fb");

        Articles.AddRange(response.Articles);
    }
}
