@inject HttpClient Http
@inject IConfiguration Configuration
@using Microsoft.Extensions.Configuration
@using Client.Contract
@using Client.Constants
@page "/"

<div class="component">
    @if (Articles.Count > 0)
    {
        @foreach (var article in Articles)
        {
            <Post Item=@article></Post>
        }
    }
    else
    {
        <div class="loader"><Loader /></div>
    }
</div>
@code {
    List<Article> Articles { get; set; } = new List<Article>();

    protected override async Task OnInitializedAsync()
    {
        var url = Configuration["NewsAPI:url"];
        var articlesEndpoint = string.Format(NewsApiConstants.ARTICLES_ENDPOINT, url, "q=*" , Configuration["NewsAPI:key"]);
        var response = await Http.GetFromJsonAsync<ApiResponse<Article>>(articlesEndpoint);

        Articles.AddRange(response.Articles);
    }
}
